// typography.
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 16px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #fff;

// other major colors.
$site-title-color: #000;
$page-title-color: $brand-color;
$background-color: #fff;
$border-color: #fff);

// typography colors.

$text-color: #fff;

//마우스 올렸을때 컬러
$link-color: darken($brand-color, 40%);

//서브타이틀컬러
$blockquote-color: #fff;
